.product-summary {
  padding-top: 3rem;
  width: 100%;
  .info-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}

.card {
  
  border: 1px solid #ccc;
  // border-bottom: 3px solid var(--light-blue);
  background-color: #f2f6fa;
}

.card1 {
  background-color: #b624ff;
  border-radius: 2rem;
}
.card2 {
  background-color: #32963d;
  border-radius: 2rem;
}
.card3 {
  background-color: #c41849;
  border-radius: 2rem;
}
.card4 {
  background-color: #03a5fc;
  border-radius: 2rem;
}
